---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="A propos | Samy CHAHBI" description="A propos de Samy CHAHBI">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="A propos"
				tagline="Pour en savoir plus sur moi et mon background."
			>
			<div class="imageContainer">
						<img
							width="300"
							height="200"
							src="/assets/photo3.png"
							alt=""
						/>
			</div>
				
			</Hero>
				
			<section>
				<h2 class="section-title">Expérience</h2>
				<div class="content">
					<p>
						Après cinq années en tant que manager dans l'industrie de la restauration rapide, j'ai évolué pendant sept ans en tant qu'animateur de systèmes de management qualité. Ces expériences m'ont permis de perfectionner mes compétences en <strong>gestion d'équipe et en optimisation des processus</strong>.<br/>
					</p>
					<p>
						<br/>À partir de 2018, j'ai élargi mes horizons en devenant <strong>délégué à la protection des données</strong> au sein de mon organisation, tout en pilotant des <strong>projets de digitalisation</strong> des processus internes. Cette transition m'a initié au monde du numérique et a suscité mon intérêt pour le développement web.
					</p>
					<p>
						<br/>En début d'année 2023, j'ai décidé de plonger pleinement dans cette nouvelle passion. Après des mois de formation autodidacte intense, j'ai intégré une <strong>école spécialisée en développement web et mobile</strong>, où j'ai exploré les technologies modernes telles que <strong>React et Node.js</strong>.
					</p>
					<p>
						<br/>Cette immersion m'a conduit à obtenir un diplôme de niveau <strong>bac+3/4 de Concepteur et Développeur Web et Mobile</strong>. Aujourd'hui, je mets à profit mes compétences polyvalentes acquises dans différents domaines pour créer des solutions web innovantes et apporter une valeur ajoutée dans le monde du développement numérique.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Formation</h2>
				<div class="content">
					<p>2007 - Baccalauréat scientifique option physique-chimie.</p>
					<p>2010 - Diplômes internes de Management en restauration rapide (équivalent > bac+2 - Management en restaurant et hôtellerie).</p>
					<p>2016 - Bac +3 - Animateur qualité, sécurité, santé, environnement.</p>
					<p>2024 - Bac +4 - Concepteur et développeur d'application web et mobile.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<p>Mode Agile et intégration continue</p>
					<p>Amélioration continue</p>
					<p>UX-UI</p>
					<p>Intégration responsive</p>
					<p>Single Page Application</p>
					<p>Backend et Architecture</p>
					<p>Base de données</p>
					<p>Anglais technique</p>
					
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 3.5rem;
	}

	.imageContainer{
		display: flex;
		margin-top: 1.5rem;
		width: 100%;
		justify-content: center;
	}
	img {
		
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
